extends layout

block content
  .row.page-header
    .col-lg-12
      h1 shoe

  .row
    .col-xs-12.col-md-9
      .row
        each course in Course
          .col-xs-12.col-sm-6.menu-item
            .panel.panel-primary
              .panel-heading
                h2.panel-title= course.name
                span.badge.pull-right.badge-default Rs.#{course.price}
              .panel-body
                img.menu-item-image(src=course.image, alt=course.name)
                p.menu-item-description= course.description
                p.rating
                   - var rating = course.rating;
              each star in [1, 2, 3, 4, 5]
                if star <= rating
                  span.glyphicon.glyphicon-star
                else
                  span.glyphicon.glyphicon-star-empty
                  
    .col-xs-12.col-sm-3
      p.lead
        | Embark on a shopping adventure with our website Myntra